html,body{
    width:100%;
    height:100%;
    font-size: 0.26rem;
    font-family: '微软雅黑';
}
body{
    display: flex;
    flex-direction: column;
}
.inner{
    background: #fff7f5;
    padding:0 10%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}
.inner p{
    text-align: justify;
    margin-top:0.1rem ;
    color:#333;
    line-height: 1.5em;
}
.inner div{
    color:#666;
    font-size:0.24rem;
    text-align: center;
}
.inner div .back{
    color:#ff3333;

}
.inner #openApp,.inner #weixin{
    display: inline-block;
    width:100%;
    height:0.88rem;
    line-height: 0.88rem;
    text-align: center;
    border:0.02rem solid #ffb09e;
    border-radius:0.12rem;
    font-size: 0.3rem;
}
.inner a:nth-of-type(1){
    color:#ffb09e;
    background: #fff;
    margin:0.3rem 0;
}
.inner a:nth-of-type(2){
    color:#fff;
    background: #ffb09e;
    margin-bottom:0.5rem;

}
.inner .footer{

    margin:0.3rem auto;
    color:#ffb09e;
    font-size: 0.24rem;
    border-bottom: #ffb09e solid 0.01rem;
}
.prop{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,.3);
    z-index: 10;
    display: none;
}
.prop .prop_{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.prop .prop2{
    width:5rem;
    height:5.6rem;
    display: none;
}
.prop .prop2 h3{
    font-size: 0.28rem;
    font-weight: normal;
    text-align: center;
    margin-bottom:0.4rem;
}
.prop .prop2 p{
    font-size:0.24rem;
    color:#666;
    line-height: 0.4rem;
    text-align: justify;
}
.prop .prop2 .care{
    margin-top:0.6rem;
}
.prop .prop_content{
    padding:0.3rem;
    border: 0.04rem solid #ffb09e;
    border-radius: 0.12rem;
    background: #fff;
    position: relative;
}
.prop .prop_content .X{
    position: absolute;
    right:0;
    top:-0.9rem;
    width:0.5rem;
    height:0.5rem;
}
.prop .prop_content .X:after{
    content: '';
    width:0.04rem;
    height:0.4rem;
    background: #ffb09e;
    position: absolute;
    bottom:-0.4rem;
    left: 0.23rem;
}
