html, body, div, p, ul, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, form, input, select, button, textarea, iframe, table, th, td { margin: 0; padding: 0; }
ul, li { list-style: none;}
i, em, cite { font-style: normal;}
a{text-decoration: none;}
input,button{border:none;}
img { border: none; vertical-align: top;width:100%;height: auto; }