
<div class="header"><img src="images/banner-01.png"></div>
<div class="inner">
    <p class="text">接受与美汇小伙伴的邀请，快来注册与美汇账号吧，立得30金币，更可体验超低美容价格，金币更可于与美汇商城直接购买产品哟</p>
    <p  class="footer" ng-click="sends.role()">了解活动详细规则</p>
    <form class="form">
        <input type="text" id="phone" class="infos" placeholder="请输入手机号码" />
        <span class="error1 error">请输入正确的手机号码</span>
        <br>
        <input type="text" id="num" class="infos" placeholder="请输入验证码" />
        <input type="button" class="getNum" value="获取验证码" ng-click="sends.send()" >
        <span class="error2 error">验证码错误</span>
        <br>
        <input type="text" id="passWord" class="infos" placeholder="请输入密码" />
        <br>
        <div class="role">点击即代表你已同意<i>《与美汇用户协议》</i></div>
        <a href="#" ui-sref="experience" id="submit" class="infos" >领取金币</a>
    </form>
    <div class="link">
        <a href="javascript:;" class="have" ng-click="openAPP()">已有与美汇账号，去邀请赚取金币</a>


    </div>
</div>
<div class="prop">
    <div class="prop1 prop_">
        <div class="prop_content">
            <div class="X" ng-click="sends.close()"><img src="images/close.png"></div>
            <p>您已经注册与美汇啦</p>
            <p>现在登录与美汇邀请好友</p>
            <p>立得30金币哟</p>
            <a href="javascript:;" class="invitation">去邀请</a>
        </div>
    </div>
    <div class="prop2 prop_">
        <div class="prop_content">
            <div class="X" ng-click="sends.close()"><img src="images/close.png"></div>
            <h3>活动规则</h3>
            <p>1、在与美汇app【推荐】中，通过“微信好友”或“朋友圈”分享给您的朋友；</p>
            <p>2、对方点击您的链接注册成功后，你们都可以获得30金币；</p>
            <p>3、金币可用于与美汇微信商城里换取产品，30金币就相当于30元人民币！</p>
            <p class="care">注意：一定要通过登录自己的app进行分享，这样你才能和你的朋友都获得金币，如果直接拿别人给你的链接，金币奖励就是别人的咯。</p>
        </div>
    </div>
</div>
<div class="guidePage"><img src="images/guidePage.png"></div>
