
    <section id="userRole">
        <div class="toUser">
            <p class="header">尊敬的用户：</p>
            <p>您点击与美汇APP注册页面的同意注册选项并完成注册程序、获得与美汇APP账号和密码，或进入与美汇APP消费（即通过与美汇APP与手艺人和店铺进行服务交易），均视为您理解并同意接受以下《与美汇APP用户协议》各项条款的约束。与美汇会根据法律法规及其他情况变化在必要时修改服务条款或规则，修改后的服务条款会及时公布，如您之后继续使用平台，即表示您同意且接受该等修改。请您务必认真阅读以下协议内容。</p>
            <p>本协议是与美汇app访客或注册用户（以下简称 “用户”）与四川云信汇美科技有限公司及其关联公司（以下简称为“云信汇美公司”）之间就网站服务等相关事宜所订立的协议。</p>
            <p>鉴于与美汇APP作为美容平台，将已通过审核的店铺和手艺人汇集于互联网平台为用户服务，同时帮助用户与手艺人和店铺联系并预订相关生活美容或生活美容或医疗美容服务项目。与美汇APP并不提供具体的生活美容或生活美容或医疗美容服务，对于涉及生活美容或医疗美容的具体服务将由有资质的生活美容或医疗美容机构提供。对用户预订的服务项目中出现的医疗纠纷等问题，与美汇APP无法律及经济责任，但与美汇APP将尽力协助用户与相关生活美容或医疗美容服务项目提供商进行协商，不能协商解决的，用户可以向消费者协会投诉或通过法律途径解决。与美汇APP通过互联网依法为您提供互联网信息等服务，您在完全同意本协议及本站相关规定的情况下，方有权使用本站的相关服务。</p>
        </div>
        <div class="content">
            <div class="rule1 rule">
                <h3>一、定义条款</h3>
                <p>1.1“与美汇APP”：四川云信汇美科技有限公司及其关联公司运营和管理的网络交易平台，域名为www.beautyallin.com, 四川云信汇美科技有限公司通过该网络交易平台为用户和手艺人和店铺提供进行服务交易的网络交易平台服务。本协议下文中，“与美汇APP”指网络交易平台（www.beautyallin.com）</p>
                <p>1.2“用户”：“用户”：接受并同意本协议全部条款及与美汇APP发布的其他全部服务条款和操作规则、通过与美汇APP进行服务交易的与美汇APP注册会员。
                    “手艺人”：通过与美汇APP发布个人信息、向用户提供美容、保健服务的自然人。
                    “店铺”：通过与美汇APP发布店铺相关信息，为与美汇服务提供场所的商户。
                    以下统称为手艺人和店铺。</p>
                <p>1.3“服务交易”：用户与手艺人和店铺通过与美汇APP进行的交易服务商品/服务的活动。</p>
                <p>1.4“服务信息”：通过与美汇APP发布的，在与美汇APP页面上展示的服务商品/服务信息，包括但不限于服务商品/服务的名称、种类、数量、质量、价格、有效期、预约时间、手艺人和店铺地址、退款条件、售后服务等内容。服务信息在法律上构成手艺人和店铺就服务商品/服务向用户发出的邀约。</p>
                <p>1.5“服务价款”：用户与手艺人和店铺达成的服务订单中约定的商品/服务价格</p>
                <p>1.6“电子消费凭证”：由与美汇APP以网页、短信、电子邮件或其他方式向用户发送的电子形式的购货凭证或服务单据，内容为与美汇密码或二维码等（具体根据服务订单确定），用于证明用户已支付服务价款、有权获得所购买的服务商品/服务。</p>
            </div>
            <div class="rule2 rule">
                <h3>二、用户注册</h3>
                <p>2.1注册资格:用户承诺,用户具有完全民事权利能力和行为能力或虽不具有完全民事权利能力和行为能力但经其法定代理人同意并由其法定代理人代理注册及应用与美汇APP服务。</p>
                <p>2.2注册信息:您在本站进行注册、浏览、预定服务商提供的服务、评价、参加活动等行为时，涉及您真实姓名/名称、通信地址、联系电话、电子邮箱、预定订单详情、评价或反馈、投诉内容、cookies等信息的，本站有权从完成交易、客户服务等多种角度予以收集，并将对其中涉及个人隐私信息予以严格保密，除非得到您的授权、为履行强行性法律义务（如国家安全机关指令）或法律另有规定、本注册协议或其他条款另有约定外，本站不会向外界披露您的隐私信息。</p>
                <p>您同意：您通过本站向本站的手艺人和店铺预约服务的，视为您同意向手艺人和店铺披露个人相关信息，接受手艺人和店铺向您提供客户服务、处理信用卡付款、数据分析、市场营销帮助或其他必要事宜；如前述全部或部分事宜之一涉及由服务商外的第三方履行的，手艺人和店铺有权将您的信息以必要方式向第三方披露，第三方有权以履行上述事宜为目的联系您。</p>
                <p>2.3注册流程:</p>
                <p>(1)用户同意根据与美汇APP用户注册页面的要求提供有效电子邮箱/手机号码、所在城市等信息，设置与美汇APP账号及密码，用户应确保所提供全部信息的真实性、完整性和准确性。</p>
                <p>(2)用户在注册时有权选择是否订阅与美汇APP发送的关于服务信息的电子邮件和/或短信息。</p>
                <p>(3)用户提供注册所需信息后，有获得与美汇APP账号和密码，即用户注册成功，可登录与美汇APP。</p>
            </div>
            <div class="rule3 rule">
                <h3>三、服务内容</h3>
                <p>与美汇APP对用户提供的与美汇APP网络交易平台服务为免费服务，但与美汇APP保留未来对与美汇APP网络交易平台服务收取服务费用的权利。</p>
                <p>3.1.用户通过在与美汇APP浏览服务商品/服务的服务信息，与手艺人和店铺达成服务订单、支付服务价款、获得服务电子消费凭证等。</p>
                <p>3.2用户在与美汇APP浏览服务商品/服务的服务信息时，应当仔细阅读服务信息中包含的全部内容，包括但不限于服务商品/服务的名称、种类、数量、质量、价格、预约时间、手艺人和店铺地址、营业时间、退款条件、售后服务等内容，其中用户应特别注意服务商品/服务的价格、预约时间及退款条件等内容，用户完全接受服务信息中包含的全部内容后方可点击购买。</p>
                <p>3.3用户应当仔细阅读服务订单页面中所包含的全部内容，包括但不限于服务信息中的全部内容、为再次提示用户注意而标明的本单服务商品/服务的有效期、退款条件等内容（如有），选择及确认购买数量、价格、应付总额、用户接收服务电子消费凭证的联系方式或接收服务的地址和预约时间等内容。<br>前述服务订单页面中所包含的全部内容，构成了用户与手艺人和店铺之间达成的服务合同的合同内容，用户完全同意服务订单的全部内容后方可提交订单。</p>
                <p>3.4用户再次阅读并确认服务订单的全部内容后方可点击确认订单并付款，用户确认订单即视为用户已知晓、同意并接受服务订单中的全部内容，与手艺人和店铺成立了服务合同。服务订单中所包含的全部内容即为服务合同的内容，具体包括但不限于商品/服务的名称、种类、数量、质量、价格、有效期、预约时间、手艺人和店铺地址、营业时间、退款条件、售后服务等，用户与手艺人和店铺均应当按照前述服务合同的约定履行各自的权利义务。</p>
                <p>3.5在服务合同成立之后用户应根据付款页面的提示通过网上支付平台完成服务价款的支付。手艺人和店铺委托与美汇APP代手艺人和店铺向用户收取服务预付款，故用户将服务价款支付给与美汇APP且支付成功即视为用户已向手艺人和店铺履行了服务合同项下的服务预付款支付义务。用户在支付服务价款之前不得要求手艺人和店铺向用户提供服务商品/服务。</p>
                <p>3.6用户支付服务价款成功后，与美汇APP向用户发送服务电子消费凭证，用户可按照服务合同的约定凭服务电子消费凭证向手艺人和店铺主张获得服务商品/服务。</p>
                <p>3.7用户应当妥善保管服务电子消费凭证，因用户保管不善导致服务电子消费凭证被他人使用的，用户要求与美汇APP重新发送服务电子消费凭证的, 与美汇有权拒绝提供。</p>
                <p>3.8对于需要通过服务电子消费凭证验证进行消费的服务商品/服务，用户进行消费时，应向手艺人和店铺出示服务电子消费凭证，手艺人和店铺对服务电子消费凭证验证成功后按照服务合同内容的约定向用户提供服务商品/服务。</p>
                <p>3.9预约券用户购买成功后，因不可抗力等法定免责原因确认无法继续履行时，与美汇APP退还用户在平台上支付的预付款。</p>
                <p>3.10如用户已实际消费商品/服务，又要求手艺人和店铺退款或要求与美汇APP代手艺人和店铺进行退款的，手艺人和店铺及/或与美汇APP有权拒绝提供。但商品/服务与服务合同约定内容严重不符、存在其他严重质量问题或违反《中华人民共和国消费者权益保护法》等法律规定的情况除外。</p>
                <p>3.11预定服务约定的有效期届满但用户未能在有效期内进行消费的，用户有权要求退款。用户应按照与美汇APP规定时间前取消订单、申请退款。在此种情况下如用户未按要求向与美汇APP要求退款，即视为用户放弃了主张退款的权利，与美汇APP有权保留及处理此等款项。</p>
                <p>3.12用户成功进行服务交易后，未凭服务电子消费凭证进行实际消费且符合与美汇APP关于“未消费随时退款”约定的，用户可以向与美汇APP申请退款。经与美汇APP审核，用户的退款申请符合“未消费随时退款”约定的，与美汇APP将于5个工作日内退款至用户的与美汇APP账户内；</p>
                <p>3.13如用户申请将款项退回至用户的支付账户的，即用户申请提现的，与美汇APP将于3-10个工作日内将款项按照用户的支付路径原路退回至用户的支付账户；如用户在30日内申请提现的总金额大于或等于人民币5000元，则属于大额提现，与美汇APP针对大额提现将于60日内将款项按照用户的支付路径原路退回至用户的支付账户。但如下商品或服务除外：</p>
                <p>(1)已消费且无充分证据证明商户提供的商品或服务存在瑕疵或与页面服务信息承诺不符的其他情形的消费券；</p>
                <p>(2)在与美汇APP中明确标明“不支持未消费随时退款”的产品或服务；</p>
                <p>3.14其他情形下的退款按照服务合同内容约定的退款条件及退款方式进行。在退款进行过程中，用户应当遵守与美汇APP关于退款的服务条款和操作规则的规定。</p>
                <p>3.15如用户与手艺人和店铺因服务合同的履行发生任何争议，包括但不限于对服务商品/服务的数量、质量、价格、有效期、预约时间、手艺人和店铺地址、退款条件、售后服务等问题发生争议的，用户应与手艺人和店铺根据服务合同内容的约定确定用户与手艺人和店铺各自的权利义务，承担各自责任，解决争议。与美汇APP可协助用户与手艺人和店铺之间争议的协商调解。</p>
            </div>
            <div class="rule4 rule">
                <h3>四、交易规则</h3>
                <p>4.1用户在与美汇APP对服务商品/服务进行评价时应当根据实际情况如实进行评价。不得利用与美汇APP用户身份进行违反诚信的任何行为，包括但不限于：向手艺人和店铺收取费用发布虚假信息和评价。</p>
                <p>4.2用户应当谨慎合理使用和妥善保管与美汇APP账号及密码，对其与美汇APP账号和密码下进行的行为和发生的事件负责。用户不应将与美汇APP账号赠与、借用、租用、转让等形式告知第三方使用。当用户发现与美汇APP账号被未经其授权的第三方使用或存在其他账号安全问题时应立即有效通知与美汇APP，要求与美汇APP暂停该与美汇APP账号的服务。与美汇APP有权验证相关信息后在合理时间内对用户的该请求采取行动，非平台原因造成的用户损失，与美汇APP不承担任何责任。</p>
                <p>4.3用户不得在与美汇APP或利用与美汇APP服务从事非法或其他损害与美汇APP或第三方权益的活动，如发送或接收任何违法、违规、违反公序良俗、侵犯他人权益的信息，发送或接收传销材料或存在其他危害的信息或言论，未经与美汇APP授权使用或伪造与美汇APP电子邮件题头信息等。否则与美汇APP有权采取暂停账号服务等措施。</p>
            </div>
            <div class="rule5 rule">
                <h3>五、用户的权利和义务</h3>
                <p>5.1如用户要求获得商品/服务的发票、其他付款凭证、购货凭证或服务单据，有权且应当在对商品/服务进行消费时向手艺人和店铺提出，发票金额以顾客实际支付的总服务价款为准，包括预付款及实际支付给医疗机构的总金额。</p>
                <p>5.2用户在消费商品/服务的过程中，如发现商品/服务与订单内容不符或存在质量、服务态度等其他问题的，应与手艺人和店铺采取协商或其他方式予以解决，与美汇APP可向用户提供手艺人和店铺的真实网站登记信息并积极协助用户与手艺人和店铺解决争议。</p>
                <p>5.3用户不得发布任何侵犯他人著作权、商标权等知识产权或其他合法权利（如肖像权、隐私权）的内容；如果有其他用户或权利人发现用户发布的信息涉嫌知识产权、或其他合法权益争议的，这些用户或权利人有权要求与美汇APP删除用户发布的信息，或者采取其他必要措施予以制止，与美汇APP将会依法采取这些措施。</p>
                <p>5.4用户应保证其在注册时和提交订单时所提供的姓名、联系方式、联系地址等全部信息真实、完整、准确，并当上述信息发生变更时及时进行更新，否则不利后果由用户承担。</p>
                <p>5.5用户在与美汇APP进行服务交易时不得恶意干扰服务的正常进行、破坏与美汇APP服务秩序。用户不得以任何技术手段或其他方式干扰与美汇APP的正常运行或干扰其他用户对与美汇APP服务的使用。</p>
                <p>5.6用户在付款成功后应配合接收货物或服务电子消费凭证,用户不得对服务商品/服务进行虚假评价或虚假投诉。</p>
                <p>5.7除活动规则另有规定外，每次活动中，每个用户只限参加一次活动（活动包括并不限于促销优惠、秒杀、抽奖等等），每个用户只能中奖一次。同一手机、同一联系方式、同一IP地址、同一与美汇APP账户、同一身份证件、同一银行卡号、同一收货地址、同一终端设备号或其他可以合理显示为同一用户的情形，均视为同一用户。</p>
            </div>
            <div class="rule6 rule">
                <h3>六、与美汇APP的权利和义务</h3>
                <p>6.1如用户不具备本协议约定的注册资格，则与美汇APP有权拒绝用户进行注册，对已注册的用户有权注销其与美汇APP会员账号，与美汇APP因此而遭受损失的有权向前述用户或其法定代理人主张赔偿。同时，与美汇APP保留其他任何情况下决定是否接受用户注册的权利。</p>
                <p>6.2与美汇APP发现账户使用者并非账户初始注册人时，有权中止该账户的使用。</p>
                <p>6.3与美汇APP通过技术检测、人工抽检等检测方式合理怀疑用户提供的信息错误、不实、失效或不完整时，有权通知用户更正、更新信息或中止、终止为其提供与美汇APP服务。与美汇APP有权在发现与美汇APP上显示的任何信息存在明显错误时，对信息予以更正。</p>
                <p>6.4用户付款成功前，与美汇APP有权接受手艺人和店铺委托对订单内容作出变更，如用户接受变更后的内容则用户可确认订单及付款，如用户不接受变更后内容则有权取消订单。用户付款成功后，如确因情况变化导致手艺人和店铺需对订单内容作出变更的，与美汇APP有权接受手艺人和店铺委托单方对订单内容作出变更，如用户接受变更则按变更后的订单内容进行消费，如用户不接受变更则用户有权取消订单并要求与美汇APP代手艺人和店铺全额退款。</p>
                <p>6.5与美汇APP保留修改、中止或终止与美汇APP服务的权利，与美汇APP行使前述权利将按照法律规定的程序及方式告知用户。与美汇APP应当采取必要的技术手段和管理措施保障与美汇APP的正常运行，并提供必要、可靠的交易环境和交易服务，维护服务交易秩序。</p>
                <p>6.6与美汇APP有权在本协议履行期间及本协议终止后保留用户的注册信息及用户应用与美汇APP服务期间的全部交易信息，但不得非法使用该等信息。与美汇APP有权随时删除与美汇APP网站内各类不符合国家法律法规、规范性文件或与美汇APP网站规定的用户评价等内容信息，与美汇APP行使该等权利不需提前通知用户。</p>
                <p>6.7对于恶意进行注册，反复交易退款，侵害与美汇APP实际经营交易的情况，与美汇会停止服务、封停账号并追究责任。</p>
            </div>
            <div class="rule7 rule">
                <h3>七、隐私保护</h3>
                <p>7.1在遵守法律的前提下，为向用户提供优质、便捷的服务，当用户注册与美汇APP账户时，或访问与美汇APP站及其相关网站、与美汇APP移动设备客户端时，或使用与美汇APP提供的服务时，与美汇APP可能会记录用户操作的相关信息或采集用户的以下信息。您应对账户信息及密码承担保密责任，因您未能尽到信息安全和保密责任而致使您的账户发生任何问题的，您应承担全部责任。同时，因网络环境存在众多不可预知因素，因您自身终端网络原因（包括但不限于断网、黑客攻击、病毒等）造成您的账户或个人信息等被第三方窃取的，与美汇APP不承担赔偿责任。</p>
                <p>7.2在用注册与美汇APP账户及使用与美汇APP提供的各项服务时，为识别用户的身份，可能要向与美汇APP提供一些个人信息，包括但不限于姓名、身份证明、地址、电话号码、电子邮件地址等信息及相关附加信息（如您所在的省份和城市等）。</p>
                <p>7.3如用户使用的与美汇APP服务需与用户的银行账户或其他支付工具的账户关联方能实现时，用户需要向与美汇APP提供用户的银行账户信息或其他支付工具的账户信息。为便于用户查询自己的交易状态或历史记录，与美汇APP会保存用户使用与美汇APP服务产生的交易信息。</p>
                <p>7.4为更好地识别用户的身份以充分保护用户的账户安全，当用户访问与美汇APP站及其相关网站、与美汇APP移动设备客户端时，或使用与美汇APP提供的服务时，与美汇APP可能会记录用户操作的相关信息，包括但不限于用户的计算机IP地址、设备标识符、硬件型号、操作系统版本、用户的位置以及与与美汇APP服务相关的日志信息。</p>
                <p>7.5除上述信息外，与美汇APP还可能为了提供服务及改进服务质量的合理需要而收集用户的其他信息，包括用户与与美汇APP的客户服务团队联系时用户提供的相关信息，用户参与问卷调查时向与美汇APP发送的问卷答复信息，以及用户与与美汇APP及与美汇APP关联公司互动时与美汇APP收集的相关信息。与此同时，为提高用户使用与美汇APP提供的服务的安全性，更准确地预防钓鱼网站欺诈和木马病毒，与美汇APP可能会通过了解一些用户的网络使用习惯、用户常用的软件信息等手段来判断用户账户的风险，并可能会记录一些与美汇APP认为有风险的URL。</p>
                <p>7.6与美汇APP尊重并保护所有使用平台服务用户的个人隐私权。 您一旦注册成功，成为平台的合法用户，将得到一个用户名和密码。您需维护自己的账户和密码之安全。您应谨慎合理的保存、使用您的账户信息。您若发现任何非法使用您的账户或其他存在安全漏洞的情况的，请立即通知平台。您不得将在平台注册获得的账号、密码等账户信息提供给他人使用，否则您应与实际使用人承担由此产生的连带责任。与美汇APP不会向任何无关第三方提供、出售、出租、分享或交易您的个人信息，除非事先得到您的许可。</p>
                <p>7.7为保障用户的信息安全，与美汇APP一直并将继续努力采取各种合理的物理、电子和管理方面的安全措施来保护用户信息，使用户的信息不会被泄漏、毁损或者丢失，包括但不限于信息加密存储、数据中心的访问控制。与美汇APP对可能接触到用户的信息的员工或外包人员也采取了严格管理，包括但不限于根据岗位的不同设置不同的权限，与员工签署保密协议等措施。</p>
                <p>7.8为使用户知晓自己使用与美汇APP服务的情况或了解与美汇APP的服务，向用户发送服务状态的通知、营销活动及其他商业性电子信息。如您通过平台中提供其他网站的链接,使用该网站的服务,请参考该网站对于您隐私权保护的相关条款，与美汇APP将不为其他网站的隐私权保护规定负责。</p>
                <p>7.9用户未通过与美汇APP与手艺人和店铺之间进行的交易不属于与美汇APP服务交易，与美汇APP对不属于与美汇APP服务交易的交易事项不承担任何责任，用户不得因其与手艺人和店铺之间因此类交易发生的任何争议投诉与美汇APP或要求与美汇承担任何责任。不属于与美汇APP服务交易的情况具体包括：用户未在与美汇APP与手艺人和店铺成立订单；用户虽在与美汇APP与手艺人和店铺成立订单，但未通过与美汇APP而直接向手艺人和店铺支付价款。</p>
                <p>7.10不论在何种情况下，与美汇APP对由于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务不承担责任。</p>
            </div>
            <div class="rule8 rule">
                <h3>八、特别声明</h3>
                <p>8.1除非法律另有规定或与美汇APP另有明确的书面说明,与美汇APP不对平台的运行及其包含在平台上的信息、内容、材料、产品（包括软件）或服务作任何形式的、明示或默示的声明或担保，包括但不限于其可依赖性及无害性。</p>
                <p>8.2本网站不保证以下各项：信息和资料中包含的功能将不受干扰或没有错误；信息和资料将符合用户的特定要求；缺陷将被纠正；本网站或提供本网站的服务器没有病毒或其它有害成分；通过本网站传送的讯息将能维持保密。就本网站中信息和资料的正确性、准确性、可靠性或其它方面而言，与美汇APP概不对本网站中的信息和资料的使用或使用后果做出任何保证。</p>
                <p>8.3您同意并已充分了解本协议的条款，承诺不将已发表于本站的信息，以任何形式发布或授权其他主体以任何方式使用（包括但限于在各类网站、媒体上使用）。除法律另有强制性规定外，未经与美汇明确的特别书面许可,任何单位或个人不得以任何方式非法地全部或部分复制、转载、引用、链接、抓取或以其他方式使用本站的信息内容，否则，与美汇有权追究其法律责任。</p>
                <p>8.4您理解并同意，您应为自己注册账号下的一切行为负责，包括其所传送的任何内容以及由此产生的任何后果。我们推定您知晓生活美容或医疗美容的风险，就您通过平台自行选择使用的生活美容或医疗美容项目，与美汇APP不对相关生活美容或医疗美容服务提供者的资质提供任何明示的或默示的担保责任，也不就您与生活美容或医疗美容服务者在服务过程及后果方面产生的任何争议为您做出任何抗辩，对您承担任何责任。您不得因自己注册账号下的任何行为，包括但不限于与交易对方之间的交易行为，发生的任何争议投诉与美汇APP或要求与美汇APP承担任何责任。</p>
            </div>
            <div class="rule9 rule">
                <h3>九、知识产权</h3>
                <p>9.1与美汇APP所包含的全部智力成果包括但不限于数据库、网站设计、文字和图表、软件、照片、录像、音乐、声音及其前述组合，软件编译、相关源代码和软件 (包括小应用程序和脚本) 的知识产权权利均归与美汇APP所有。用户不得为商业目的复制、更改、拷贝、发送或使用前述任何材料或内容。</p>
                <p>9.2与美汇APP名称中包含的所有权利 (包括商标) 均归与美汇APP所有。</p>
                <p>9.3用户在使用与美汇APP服务过程中不得非法使用或处分与美汇APP或他人的知识产权权利。用户不得将已发表于与美汇APP的信息以任何形式发布或授权其它网站（及媒体）使用。</p>
            </div>
            <div class="rule10 rule">
                <h3>十、违约责任</h3>
                <p>10.1与美汇APP或用户违反本协议的约定即构成违约，违约方应当向守约方承担违约责任。</p>
                <p>10.2如因用户提供的信息不真实、不完整或不准确给与美汇APP或手艺人和店铺造成损失的，与美汇APP有权要求用户对与美汇APP或对手艺人和店铺进行损失的赔偿。如用户违反本协议约定，以转售等商业目的进行服务交易，则与美汇APP有权代手艺人和店铺取消相关服务交易，并有权注销其与美汇APP账号，终止为其提供与美汇APP服务，如与美汇APP因此而遭受损失的，有权要求用户赔偿损失。</p>
                <p>10.3如因用户违反法律法规规定或本协议约定，在与美汇APP或利用与美汇APP服务从事非法活动的，与美汇APP有权立即终止继续对其提供与美汇APP服务，注销其账号，并要求其赔偿由此给与美汇APP造成的损失。</p>
                <p>10.4如用户以技术手段干扰与美汇APP的运行或干扰其他用户对与美汇APP使用的，与美汇APP有权立即注销其与美汇APP账号，并有权要求其赔偿由此给与美汇APP造成的损失。</p>
                <p>10.5如用户以虚构事实等方式恶意诋毁与美汇APP或手艺人和店铺的商誉，与美汇APP有权要求用户向与美汇APP或手艺人和店铺公开道歉，赔偿其给与美汇APP或手艺人和店铺造成的损失，并有权终止对其提供与美汇APP服务。</p>
            </div>
            <div class="rule11 rule">
                <h3>十一、争议解决</h3>
                <p>用户与与美汇APP因本协议的履行发生争议的应通过友好协商解决，协商解决不成的，任一方有权将争议提交云信汇美公司所在地法院进行起诉。云信汇美公司所在地为成都市高新区。</p>
            </div>
            <div class="rule12 rule">
                <p>本协议于用户点击与美汇APP注册页面的同意注册并完成注册程序、获得与美汇APP账号和密码时生效，对与美汇APP和用户均具有约束力。</p>
            </div>
        </div>
    </section>
