<div id="experience">
    <div class="header"><img src="images/banner02.png"> </div>
    <div class="inner">
        <p class="text">已接受与美汇小伙伴的邀请，快下载与美汇APP享受互联网美容的便捷与实惠吧，金币更可以直接用于与美汇微信商城消费哟</p>
        <p  class="footer" ng-click="sends.role()">了解活动详细规则</p>
        <div>30金币已入账户:{{phoneNum}}  <a href="#" ui-sref="yanzhen" class="back">修改></a></div>
        <a href="javascript:;" id="openApp" ng-click="openAPP()">立即体验与美汇</a>
        <a href="javascript:;" id="weixin" ng-click="weixin()">进入与美汇商城</a>
<!--
        <a href="https://mp.weixin.qq.com/mp/profile_ext?action=home&__biz=MzI0MTYxOTgwNQ==&scene=110#wechat_redirect" id="weixin">进入与美汇商城</a>
-->
    </div>
    <div class="prop">
        <div class="prop2 prop_">
            <div class="prop_content">
                <div class="X" ng-click="sends.close()"><img src="images/close.png"></div>
                <h3>活动规则</h3>
                <p>1、在与美汇app【推荐】中，通过“微信好友”或“朋友圈”分享给您的朋友；</p>
                <p>2、对方点击您的链接注册成功后，你们都可以获得30金币；</p>
                <p>3、金币可用于与美汇微信商城里换取产品，30金币就相当于30元人民币！</p>
                <p class="care">注意：一定要通过登录自己的app进行分享，这样你才能和你的朋友都获得金币，如果直接拿别人给你的链接，金币奖励就是别人的咯。</p>
            </div>
        </div>
        <div class="prop3 prop_" ng-click="sends.closeweixin()">扫描二维码关注微信商城<img src="images/yxhm.jpg"></div>
    </div>
    <div class="guidePage"><img src="images/guidePage.png"></div>

</div>

